<!-- slick js cdn  -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<script src="/javascripts/main-home.js"></script>
<script src="/javascripts/script.js"></script>
<script src="/javascripts/follow.js"></script>
<script src="/javascripts/like-comm.js"></script>
<script src="/javascripts/post-uplode.js"></script>


<script>
    var swiper = new Swiper(".mySwiper", {
    spaceBetween: 10,
    centeredSlides: true,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
</body>
</html>