<div class="like-main-page">
    <div class="main-right-bottom-right-top">
        <h4>Likes</h4>
        <i class="ri-close-fill like-clode-button"></i>
    </div>
    <div class="main-right-bottom-right-bottom-main">
    <div class="main-right-bottom-right-bottom">
        <a href="#">
            <img src="https://images.unsplash.com/photo-1678384027714-e89a953d7ae2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
            <div class="main-right-bottom-right-bottom-right">
                <h5> <span> Ritik Beldar</h5>
            </div>
        </a>
        <a class="remove-button" href="#">Following</a>
    </div>
    <div class="main-right-bottom-right-bottom">
        <a href="#">
            <img src="https://images.unsplash.com/photo-1678384027714-e89a953d7ae2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
            <div class="main-right-bottom-right-bottom-right">
                <h5> <span> 90sbbygill</h5>
            </div>
        </a>
        <a id="follow-button" href="#">Follow</a>
    </div>

</div>
</div>



<div class="like-main-page comm-main-page">
    <div class="main-right-bottom-right-top">
        <h4>Comments</h4>
        <i class="ri-close-fill comm-clode-button"></i>
    </div>
    <div class="main-right-bottom-right-bottom-main">
        <div class="main-right-view-comm-view main-right-view-comm-view-page">
            <div class="main-right-view-comm-view-all main-right-view-comm-view-all-page">
                <div class="comm-page-user">
                    <img src="https://images.unsplash.com/photo-1678384027714-e89a953d7ae2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                    <span><b><a href="#">90sbbygill</a></b> hyeee hello no come yes or</span>
                </div>
                <div class="comm-page-user comm-view-bottom-page">
                    <img src="https://images.unsplash.com/photo-1678384027714-e89a953d7ae2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                    <span class="comm-view-bottom"><b><a href="#">__majoka__</a></b> hmm yess no reday ok </span>
                </div>
            </div>
            <div class="main-right-view-comm-view-all main-right-view-comm-view-all-page">
                <div class="comm-page-user">
                    <img src="https://images.unsplash.com/photo-1678384027714-e89a953d7ae2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                    <span><b><a href="#">90sbbygill</a></b> hyeee hello no come yes or</span>
                </div>
                <div class="comm-page-user comm-view-bottom-page">
                    <img src="https://images.unsplash.com/photo-1678384027714-e89a953d7ae2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                    <span class="comm-view-bottom"><b><a href="#">__majoka__</a></b> hmm yess no reday ok </span>
                </div>
            </div>
        </div>
    </div>
</div>