<div class="main-left">
<a href="/home">
    <img src="/images/madhayamwhite.png" alt="Logo">
</a>
    <ul>
        <a href="/home"><i class="ri-home-4-fill"></i>Home</a>
        <a href="/"><i class="ri-team-line"></i>University</a>
        <a href="#"><i class="ri-user-smile-line"></i>About us</a>
        <a href="/otheruser">other-user</a>
        <a href="/department-acc">Deparment acc</a>
        <a href="/dep-page">Dep page</a>
    </ul>
    <!-- <ul class="ul2">
        <i class="ri-home-4-line"></i>
        <i class="ri-user-fill"></i>
        <i class="ri-notification-4-fill"></i>
        <i class="ri-team-fill"></i>
        <i class="ri-user-smile-fill"></i>
    </ul> -->
    <span id="logout">
        <a href="/logout"><i class="ri-logout-box-line"></i></a>
        <h5>Logout</h5>
    </span>
</div>