<div class="main-right">

    <div class="main-right-top">
        <div class="main-right-search">
            <i class="ri-search-line"></i>
            <input type="search" placeholder="Search..." name="search">
        </div>
        <div class="main-right-top-icon">
            <span>
                <a href="/chat">
                    <i class="ri-chat-1-line"></i>
                    <span>message</span>
                </a>
            </span>
            <span>
                <a href="/noti">
                    <i class="ri-notification-4-line"></i>
                        <i class="ri-notification-4-fill"></i>
                    <span>notification</span>
                </a>
            </span>
            <span id="main-top-profile">
                <a href="/profile">
                    <img src="https://images.unsplash.com/photo-1678384027714-e89a953d7ae2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                    <span>Ritik Beldar</span>
                </a>
            </span>
        </div>
    </div>