<div class="main-right-show-post">
    <div class="main-right-show-post-dp">
        <img src="https://images.unsplash.com/photo-1670272501077-c72d2d42f362?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
        <div class="main-right-show-post-dp-right">
            <div class="main-right-show-post-dp-right-name">
                <h4>Ritik Beldar</h4>
                <h5>Department of computer science</h5>
            </div>
                    <i class="ri-more-line">
                    <div class="profile-post-more-all-main ">
                            <i class="ri-close-line"></i>
                        <a href="#">
                            <span class="post-more-all">
                                <i class="ri-edit-box-line"></i>
                                <span class="post-more"><h5>Edit</h5><p>edit this post.</p></span>
                            </span>
                        </a>
                         <a href="#">
                            <span class="post-more-all">
                               <i class="ri-delete-bin-6-line"></i>
                                <span class="post-more"><h5>Delete</h5><p>delete this post.</p></span>
                            </span>
                        </a>
                        <a href="#">
                            <span class="post-more-all">
                                <i class="ri-links-line"></i>
                                <span class="post-more"><h5>Copy</h5><p>copy link of this post.</p></span>
                            </span>
                        </a>
                    </div>
                </i>
        </div>
    </div>
    <div class="main-right-show-post-caption">
        <p>What a view!!! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam enim exercitationem commodi. Voluptatibus, iste dolorem? Maxime eum qui eius minima expedita reiciendis error et nihil, repellendus est ea accusamus porro?</p>
    </div>
    <div class="main-right-show-post-img">
        <img src="https://images.unsplash.com/photo-1670272506160-bdf0c7a45d2b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
    </div>
    <div class="main-right-show-post-like">
        <p class="like-post-button">Like</p>
        <i class="ri-heart-fill"></i>
        <p class="comm-post-button">Comment</p>
        <i class="ri-chat-3-fill"></i>
        <p class="share-post-button">Share</p>
        <i class="ri-share-fill"></i>
    </div>
    <div class="main-right-view-post-like">
        <div class="main-right-view-like-view">
            <p>Liked by <b><a href="#">90sbbygill</a></b> and <b class="like-button">80 others</b></p>
        </div>
        <div class="main-right-view-comm-view">
            <h5 class="comm-button">View all 8 comments</h5>
            <div class="main-right-view-comm-view-all">
                <span><b><a href="#">90sbbygill</a></b> hyeee hello no come yes or</span>
                <span class="comm-view-bottom"><b><a href="#">__majoka__</a></b> hmm yess no reday ok</span>
            </div>
        </div>
    </div>
    <div class="main-comm-send-box">
        <img src="https://images.unsplash.com/photo-1678384027714-e89a953d7ae2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
        <form action="#">
            <input type="text" placeholder="Write a comment...">
        </form>
</div>
<div class="main-post-date">
    <p>05 April 2022</p>
</div>
</div>