<!-- uplode post page start -->
<div class="edit-profile-page post-uplode-panal-main">
    <div class="edit-profile-page-top">
        <h3>Create post</h3>
    </div>
    <i class="ri-close-fill edit-clode-button uplode-close-button"></i>  
<div class="post-uplode-panal-bottom">
        <form id="uplode-post" action="#">
           <textarea name="" id="" cols="30" rows="10" placeholder="Caption..."></textarea>
           <div class="post-uplode-img">
                <i class="ri-gallery-upload-fill"></i>
                <h4>Add Photos</h4>
                <input class="post-uplode-panal" type="file">
            </div>
            <button>Post</button>
        </form>
        </div>
</div>
<!-- uplode post page end -->