<%- include('partials/header')%>
<body>
    <div class="main">
        <div class="main-right">

            <div class="main-right-top dep-page-main-right-top">
                <div class="main-right-top-icon dep-page-main-right-top-icon">
                    <span>
                        <a href="/home">
                            <img src="/images/madhayam white.png" alt="">
                        </a>
                    </span>
                    <div class="dep-page-main-right-top-icon-left">
                        <span id="main-top-profile">
                            <a href="/profile-main">
                                <img src="https://images.unsplash.com/photo-1678384027714-e89a953d7ae2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                                <span>Ritik Beldar</span>
                            </a>
                        </span>
                        <span id="dep-page-login">
                            <a href="/login">
                               Login
                            </a>
                        </span>
                    </div>
                    
                </div>
            </div>

            <div class="main-dep-page">

                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide"><img src="https://plus.unsplash.com/premium_photo-1668461477211-965df057123e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=821&q=80" alt=""></div>
                      <div class="swiper-slide"><img src="https://plus.unsplash.com/premium_photo-1666184129932-e443a8de06e9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt=""></div>
                      <div class="swiper-slide"><img src="https://images.unsplash.com/photo-1682686580224-cd46ea1a6950?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt=""></div>
                      <div class="swiper-slide"><img src="https://images.unsplash.com/photo-1682695794947-17061dc284dd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt=""></div>
                      <div class="swiper-slide"><img src="https://images.unsplash.com/photo-1683009686716-ac2096a5a73b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt=""></div>
                    </div>
                  </div>

                  <div class="main-dep-page-bottom">
                    <div class="main-dep-page-bottom-name">
                        <h1>Department of computer science and application </h1>
                        <h3>Barkatullah University Bhopal</h3>
                        <div class="main-profile-dp-center-insta main-dep-page-bottom-name-id">
                            <a href="#"><i class="ri-youtube-line"></i></a>
                            <a href="#"><i class="ri-instagram-line"></i></a>
                            <a href="#"><i class="ri-linkedin-line"></i></a>
                        </div>
                    </div>

                    <div class="main-dep-page-bottom-info">
                        <h3>INTRODUCTION:-</h3>
                        <div class="main-dep-page-bottom-info-bottom">
                            <p>The Department of Computer Science and Applications was established in the year 1985. The department offers two years Post Graduate degree programs in Computer Science and Information Technology leading to M.Sc. degree and a three years Master of Computer Applications (M.C.A.) full time programs. The academic programmes, have been designed to provide necessary theoretical background and practical skills; keeping in view the emerging trends, as well as contemporary and futuristic human resources requirement of the IT industry and business houses.</p>
                            <p>The department aims at providing quality education. The teaching methodology is a judicious blend of lectures, Seminars, Presentations, Assignments and Projects. The curriculum provides students with an excellent opportunity to gain exposure to theoretical and practical skills in Computer Science. The department has a well-equipped laboratory with Servers, Independent P-IV workstations, LCD Projector, Visual Presenter, Pen Drives, laser printers, DVD writers etc. Beside, the Central Library the department has its own library, having a good collection of text/reference books and contributes to latest Periodicals.</p>
                            <p>The Department assists in project & placement activity of the students. Students have been placed/trained in the following organizations:- Reliance Industries Ltd., IBM Technologies, Wipro Technologies, T.C.S. Ltd.,I.S.R.O. Satellite Centre, Bhabha Atomic Research Centre, Mumbai, Bharat Sanchar Nigam Ltd.,Raymond Ltd., Polaris Software Labs. Ltd., Chennai, Centre for Development of Advanced Computing (C-DAC), Rashtriya Ispat Nigam Ltd., R.R.L., B.H.E.L. Etc.</p>
                        </div>
                    </div>

                    <div class="main-dep-page-bottom-info-corse">
                        <caption><span style="font-size:18px;"><strong>COURSE DETAILS:-</strong></span></caption>
                        <table align="flex-start" border="1" cellpadding="2" cellspacing="2" class="t_view">
        
                            <thead>
                                <tr>
                                    <th colspan="2">M.Sc.(Computer Science)/<span style="font-weight: bold; line-height: 20.7999992370605px; text-align: center;">(Information Technology)</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>Admission</strong></td>
                                    <td><span>On Merit Basis</span></td>
                                </tr>
                                <tr>
                                    <td width="20%"><strong>Seats</strong></td>
                                    <td><span style="color: rgb font-family: Verdana; font-size: small; line-height: normal;">20 (Cs)/10 (It) (5 seats are available for NRI/Foreign/Sponsored students)</span></td>
                                </tr>
                                <tr>
                                    <td><strong>Duration</strong></td>
                                    <td><span>&nbsp;2 years (4 Semester)</span></td>
                                </tr>
                                <tr>
                                    <td><strong>Eligibility</strong></td>
                                    <td><span>A student who has passed 10+2 examination of secondary school education Board, Bhopal with mathematics as one of the subject or its equivalent other examination and have passed B.Sc. with Mathematics as one of the subject but two of the subjects among Physics, Mathematics, Information Technology, Computer Science, Electronics Equipment maintenance or a three year B.C.A. degree or B.Sc. Industrial Education or B.Sc. Industrial Electronics or Applied Electronics with 50% marks in Theory.</span></td>
                                </tr>
                                <tr>
                                    <td><strong>Age Limit</strong></td>
                                    <td><span>For M.Sc. (CS) and M.Sc. (IT) minimum age limit is 20 years on 1st July of year of admission. Upper age limit is 25 years (relaxable for sponsored candidate as per rules).</span></td>
                                </tr>
                                <tr>
                                    <td><strong>Course Outline</strong></td>
                                    <td><span>These courses provide students with in-depth knowledge of programming methodologies, software tools, Internet techniques, networking and administration etc. The course includes Windows 2000, Linux, C++, VB, Java, Oracle, Internet Technology, Multimedia, Computer Graphics, Compiler Design, Database Management Systems, Computer Networks, and Emerging Technologies etc. As part of the curriculum the students are required to undertake a major project in final semester.</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    


                    <div class="main-dep-page-bottom-info-teacher">
                        <h3 id="teacher">Team:-</h3>
                        <div class="main-dep-page-bottom-info-teacher-bottom">
                            <div class="card">
                                <div class="banner">
                                   <div class="avatar">
                                    <img src="https://tinypic.host/images/2023/02/21/pikrepo.com-2.jpg" alt=""> 
                                   </div>
                                </div>
                                 <h3>Dr. Anil Gupta</h3>
                                 <h4>HOD</h4>
                                <a href="mailto:contact@webdevtrick.com">📧 contact@mail.com</a>
                                <a href="">📱 +00 000-000-0000</a>
                                 <ul>
                                   <a href="#" target="_blank"><i class="ri-twitter-fill" style="font-size:16px"></i></a>
                                    <a href="#" target="_blank"><i class="ri-linkedin-fill" style="font-size:16px"></i></a>
                                   <a href="#" target="_blank"><i class="ri-instagram-fill" style="font-size:16px"></i></a>
                                   <a href="#" target="_blank"><i class="ri-facebook-fill" style="font-size:16px"></i></a>
                                 </ul>
                             </div>
                             <div class="card">
                                <div class="banner">
                                   <div class="avatar">
                                    <img src="https://tinypic.host/images/2023/02/21/pikrepo.com-2.jpg" alt=""> 
                                   </div>
                                </div>
                                 <h3>Dr. Anil Gupta</h3>
                                 <h4>HOD</h4>
                                <a href="mailto:contact@webdevtrick.com">📧 contact@mail.com</a>
                                <a href="">📱 +00 000-000-0000</a>
                                 <ul>
                                   <a href="#" target="_blank"><i class="ri-twitter-fill" style="font-size:16px"></i></a>
                                    <a href="#" target="_blank"><i class="ri-linkedin-fill" style="font-size:16px"></i></a>
                                   <a href="#" target="_blank"><i class="ri-instagram-fill" style="font-size:16px"></i></a>
                                   <a href="#" target="_blank"><i class="ri-facebook-fill" style="font-size:16px"></i></a>
                                 </ul>
                             </div>
                             <div class="card">
                                <div class="banner">
                                   <div class="avatar">
                                    <img src="https://tinypic.host/images/2023/02/21/pikrepo.com-2.jpg" alt=""> 
                                   </div>
                                </div>
                                 <h3>Dr. Anil Gupta</h3>
                                 <h4>HOD</h4>
                                <a href="mailto:contact@webdevtrick.com">📧 contact@mail.com</a>
                                <a href="">📱 +00 000-000-0000</a>
                                 <ul>
                                   <a href="#" target="_blank"><i class="ri-twitter-fill" style="font-size:16px"></i></a>
                                    <a href="#" target="_blank"><i class="ri-linkedin-fill" style="font-size:16px"></i></a>
                                   <a href="#" target="_blank"><i class="ri-instagram-fill" style="font-size:16px"></i></a>
                                   <a href="#" target="_blank"><i class="ri-facebook-fill" style="font-size:16px"></i></a>
                                 </ul>
                             </div>
                             <div class="card">
                                <div class="banner">
                                   <div class="avatar">
                                    <img src="https://tinypic.host/images/2023/02/21/pikrepo.com-2.jpg" alt=""> 
                                   </div>
                                </div>
                                 <h3>Dr. Anil Gupta</h3>
                                 <h4>HOD</h4>
                                <a href="mailto:contact@webdevtrick.com">📧 contact@mail.com</a>
                                <a href="">📱 +00 000-000-0000</a>
                                 <ul>
                                   <a href="#" target="_blank"><i class="ri-twitter-fill" style="font-size:16px"></i></a>
                                    <a href="#" target="_blank"><i class="ri-linkedin-fill" style="font-size:16px"></i></a>
                                   <a href="#" target="_blank"><i class="ri-instagram-fill" style="font-size:16px"></i></a>
                                   <a href="#" target="_blank"><i class="ri-facebook-fill" style="font-size:16px"></i></a>
                                 </ul>
                             </div>
                             <div class="card">
                                <div class="banner">
                                   <div class="avatar">
                                    <img src="https://tinypic.host/images/2023/02/21/pikrepo.com-2.jpg" alt=""> 
                                   </div>
                                </div>
                                 <h3>Dr. Anil Gupta</h3>
                                 <h4>HOD</h4>
                                <a href="mailto:contact@webdevtrick.com">📧 contact@mail.com</a>
                                <a href="">📱 +00 000-000-0000</a>
                                 <ul>
                                   <a href="#" target="_blank"><i class="ri-twitter-fill" style="font-size:16px"></i></a>
                                    <a href="#" target="_blank"><i class="ri-linkedin-fill" style="font-size:16px"></i></a>
                                   <a href="#" target="_blank"><i class="ri-instagram-fill" style="font-size:16px"></i></a>
                                   <a href="#" target="_blank"><i class="ri-facebook-fill" style="font-size:16px"></i></a>
                                 </ul>
                             </div>
                             <div class="card">
                                <div class="banner">
                                   <div class="avatar">
                                    <img src="https://tinypic.host/images/2023/02/21/pikrepo.com-2.jpg" alt=""> 
                                   </div>
                                </div>
                                 <h3>Dr. Anil Gupta</h3>
                                 <h4>HOD</h4>
                                <a href="mailto:contact@webdevtrick.com">📧 contact@mail.com</a>
                                <a href="">📱 +00 000-000-0000</a>
                                 <ul>
                                   <a href="#" target="_blank"><i class="ri-twitter-fill" style="font-size:16px"></i></a>
                                    <a href="#" target="_blank"><i class="ri-linkedin-fill" style="font-size:16px"></i></a>
                                   <a href="#" target="_blank"><i class="ri-instagram-fill" style="font-size:16px"></i></a>
                                   <a href="#" target="_blank"><i class="ri-facebook-fill" style="font-size:16px"></i></a>
                                 </ul>
                             </div>
                        </div>
                        
                    </div>

                    <div class="main-dep-page-bottom-info-photos">
                        <h3>Photos Gallery:-</h3>
                        <div class="main-dep-page-bottom-info-photos-bottom">
                            <div class="img-cover">
                                <img src="https://images.unsplash.com/photo-1682695795557-17447f921f79?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                                <div class="img-hover-card">
                                    <h3>Annual Function</h3>
                                </div>
                            </div>
                            <div class="img-cover">
                                <img src="https://images.unsplash.com/photo-1683265309801-7e1f2f1a4b5a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                                <div class="img-hover-card">
                                    <h3>Annual Function</h3>
                                </div>
                            </div>
                            <div class="img-cover">
                                <img src="https://images.unsplash.com/photo-1683265309801-7e1f2f1a4b5a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                                <div class="img-hover-card">
                                    <h3>Annual Function</h3>
                                </div>
                            </div>
                            <div class="img-cover">
                                <img src="https://images.unsplash.com/photo-1683265309801-7e1f2f1a4b5a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                                <div class="img-hover-card">
                                    <h3>Annual Function</h3>
                                </div>
                            </div>
                            <div class="img-cover">
                                <img src="https://images.unsplash.com/photo-1682695795557-17447f921f79?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                                <div class="img-hover-card">
                                    <h3>Annual Function</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-dep-page-bottom-info-alumni">
                        <h3>Alumni:-</h3>
                        <div class="main-dep-page-bottom-info-alumni-bottom">
                            <aside class="profile-card">
                                <header>
                                  <a href="#">
                                    <img src="http://gravatar.com/avatar/eb2d48c7f2cf027bb4cb20483e27c9c9?size=200px">
                                  </a>
                                  <h1>Ali Shahab</h1>
                                  <h2>Another Web Designer</h2>
                                </header>
                                <div class="profile-bio">
                                  <p>Specialties are Creative UI, HTML5, CSS3, Semantic Web, Responsive Layouts, Web Standards Compliance, Performance Optimization, Cross Device Troubleshooting.</p>
                                </div>
                                <ul class="profile-social-links">
                                  <li>
                                    <a href="https://twitter.com/alishahab">
                                      <i class="ri-linkedin-fill"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="https://twitter.com/alishahab">
                                        <i class="ri-instagram-fill"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="https://twitter.com/alishahab">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                  </li>
                                </ul>
                              </aside>
                              <aside class="profile-card">
                                <header>
                                  <a href="#">
                                    <img src="http://gravatar.com/avatar/eb2d48c7f2cf027bb4cb20483e27c9c9?size=200px">
                                  </a>
                                  <h1>Ali Shahab</h1>
                                  <h2>Another Web Designer</h2>
                                </header>
                                <div class="profile-bio">
                                  <p>Specialties are Creative UI, HTML5, CSS3, Semantic Web, Responsive Layouts, Web Standards Compliance, Performance Optimization, Cross Device Troubleshooting.</p>
                                </div>
                                <ul class="profile-social-links">
                                  <li>
                                    <a href="https://twitter.com/alishahab">
                                      <i class="ri-linkedin-fill"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="https://twitter.com/alishahab">
                                        <i class="ri-instagram-fill"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="https://twitter.com/alishahab">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                  </li>
                                </ul>
                              </aside>
                              <aside class="profile-card">
                                <header>
                                  <a href="#">
                                    <img src="http://gravatar.com/avatar/eb2d48c7f2cf027bb4cb20483e27c9c9?size=200px">
                                  </a>
                                  <h1>Ali Shahab</h1>
                                  <h2>Another Web Designer</h2>
                                </header>
                                <div class="profile-bio">
                                  <p>Specialties are Creative UI, HTML5, CSS3, Semantic Web, Responsive Layouts, Web Standards Compliance, Performance Optimization, Cross Device Troubleshooting.</p>
                                </div>
                                <ul class="profile-social-links">
                                  <li>
                                    <a href="https://twitter.com/alishahab">
                                      <i class="ri-linkedin-fill"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="https://twitter.com/alishahab">
                                        <i class="ri-instagram-fill"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="https://twitter.com/alishahab">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                  </li>
                                </ul>
                              </aside>
                              <aside class="profile-card">
                                <header>
                                  <a href="#">
                                    <img src="http://gravatar.com/avatar/eb2d48c7f2cf027bb4cb20483e27c9c9?size=200px">
                                  </a>
                                  <h1>Ali Shahab</h1>
                                  <h2>Another Web Designer</h2>
                                </header>
                                <div class="profile-bio">
                                  <p>Specialties are Creative UI, HTML5, CSS3, Semantic Web, Responsive Layouts, Web Standards Compliance, Performance Optimization, Cross Device Troubleshooting.</p>
                                </div>
                                <ul class="profile-social-links">
                                  <li>
                                    <a href="https://twitter.com/alishahab">
                                      <i class="ri-linkedin-fill"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="https://twitter.com/alishahab">
                                        <i class="ri-instagram-fill"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="https://twitter.com/alishahab">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                  </li>
                                </ul>
                              </aside>
                              <aside class="profile-card">
                                <header>
                                  <a href="#">
                                    <img src="http://gravatar.com/avatar/eb2d48c7f2cf027bb4cb20483e27c9c9?size=200px">
                                  </a>
                                  <h1>Ali Shahab</h1>
                                  <h2>Another Web Designer</h2>
                                </header>
                                <div class="profile-bio">
                                  <p>Specialties are Creative UI, HTML5, CSS3, Semantic Web, Responsive Layouts, Web Standards Compliance, Performance Optimization, Cross Device Troubleshooting.</p>
                                </div>
                                <ul class="profile-social-links">
                                  <li>
                                    <a href="https://twitter.com/alishahab">
                                      <i class="ri-linkedin-fill"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="https://twitter.com/alishahab">
                                        <i class="ri-instagram-fill"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="https://twitter.com/alishahab">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                  </li>
                                </ul>
                              </aside>
                              
                              
                        </div>
                    </div>


                  </div>

            </div>

        </div>
        </div>
    </div>
    <%- include('partials/fotter')%>