<!DOCTYPE html>
<html>

<head>
  <title>
    <%= tit %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= tit %>
  </h1>
  <p>Welcome to <%= tit %>
  </p>
</body>

</html>