<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BVC | <%=title%></title>
  <link rel="stylesheet" href="/stylesheets/MainHome.css">
</head>
<body>
  <div class="main">
    <div class="main-left">
      <div class="main-left-contect">
        <div class="main-left-contect-logo">
          <h1>Welcome to</h1>
          <img src="/images/madhyam.png" alt="">
        </div>
        <div class="main-left-contect-login">
          <p>
            Lorem ipsum dolor sit amet consectetur hyeevd adipisicing elit. Rem magnam blanditiis  eveniet et tempore fugiat animi temporibus magni sitet <span>bvc contenct.</span>
          </p>
          <a href="/login">Log in</a>
        </div>
      </div>
    </div>
    <div class="main-right-dep">
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Arabic</a>  
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Applied Aquaculture</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Bio Science</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Bio Technology</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Computer Science and Application</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of CRIM</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Continuing Education</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Comparative Language and Culture</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Commerce</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Chemistry</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Earth Science</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Electronics</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Environment Science and Limnology</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Genetics</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Legal Studies and Research</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Math</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Microbiology</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Physics</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Pharmacy</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Psychology</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Persian</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Physical Education</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Regional Planning and Economic Growth</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Sociology</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of UIT</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Women Studies</a>
      </span>
      <span class="main-right-dep-a-bg">
        <a href="#">Department of Yoga</a>  
      </span>
    </div>
    <div id="hide-button">
      <div class="main-right-dep-button">
        <h3>Click</h3>
      </div>
    </div>
  </div>
  <script src="/javascripts/main-home.js"></script>
</body>
</html>